---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Hangman Game">
	<div id="hangmanGame" class="py-20">
		<h1 class="text-6xl text-indigo-500">Hangman Game</h1>
		<div
			id="alerts"
			class="text-3xl text-center pt-20 font-[200] text-red-500"
		>
		</div>
		<div id="word-container">
			<span id="word"></span>
		</div>
		<div id="guesses-container">
			<p>Incorrect Guesses: <span id="guesses"></span></p>
		</div>
		<div id="input-container">
			<input
				class="text-xl bg-indigo-600"
				type="text"
				id="letter-input"
				placeholder="Enter a letter"
				maxlength="1"
			/>
			<button
				class="bg-indigo-500 text-center py-2 px-4 cursor-pointer duration-700 ease-in-out hover:text-indigo-500 hover:bg-white"
				id="guess-btn"
				disabled>Guess</button
			>
			<div class="text-center my-4">
				<button
					onclick="
					location.reload()
					"
					class="bg-red-400 my-12 border-2 border-red-600 shadow-lg duration-700 ease-in-out hover:bg-red-700 text-center py-2 px-4 cursor-pointer"
					id="restartGame"
				>
					Restart Game
				</button>
			</div>
		</div>
	</div>
</Layout>
<style>
	#Head,
	#Torso,
	#LArm,
	#RArm,
	#LLeg,
	#RLeg {
		display: none;
	}
</style>
