/* Global styles live here.... */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;900&display=swap');

html {
    background-color: #333;
    color: #fff;
    overflow: hidden;
}
body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#word-container {
    margin-top: 50px;
    font-size: 30px;
}

#guesses-container {
    margin-top: 20px;
}

#guesses {
    font-weight: bold;
}

#input-container {
    margin-top: 20px;
}

#letter-input {
    padding: 5px;
    font-size: 18px;
}

#guess-btn {
    padding: 5px 10px;
    font-size: 18px;
    margin-left: 10px;
}

#head {
    transform: rotate(90deg);
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
